snippet begdo
	\begin{document}
		${1}
	\end{document}
	
snippet doclass
	\documentclass{${1}}
snippet ti
	\title{${1}}
snippet date
	\date{${1}}
snippet auth
	\author{${1}}
snippet begti
	\begin{titlepage}
		${1}
	\end{titlepage}


# mentioning encoding in usepackage
snippet usepkg
	\usepackage[${1}]{${2}}
# not mentioning encoding in usepackage
snippet usepkgg
	\usepackage{${1}}
