.ace_tooltip{
    background-color: #253238 !important;
    color: #f5f5f5 !important;
}


body {
    overflow: hidden;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 25px;
    left: 0;
    width:50%;
}
::-webkit-scrollbar{
    display: none;
}
#footer{
   background-color: rgb(59,63,65);
    border-top:1px solid #555555;
    position: absolute;
    bottom: 0;
    height:25px;
    left:0;
    right: 0;
    font-size: 12px;
    font-weight:400;
    color: #AFBDC4;
}
#footer ul {
    list-style: none;
}
#footer ul>li{
    float: left;
    margin-right:20px;
    padding: 4px;
    cursor: pointer;
}
#footer ul>li:hover, #footer ul>li:focus{
    background-color: rgb(45, 45, 45);
}
#bd:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
#terminal{
    position: fixed;
    bottom: 25px;
    left:0;
    right:0;
    height: 130px;
    background-color: #253238 ;
}
#terminal .header{
    background-color: #304359;
    width: 100%;
    height:25px;
    font-size:13px;
    color: #f9f2f4;
    padding: 4px 4px 3px 20px;
    margin-bottom:10px;
}
#terminal .text{
    margin:20px;
    line-height: 15px;
    font-size:13px;
    color:#fff;
    font-weight: normal;
}

#terminal .text .input-group-addon{
    background: transparent;
    border:none;
    color:#fff;
}

#terminal td{
    width: auto;
}
#terminal > ul {
    list-style: none;
}

#terminal ul>li {

}

#terminal .text .input-group-addon .keyword {
    color: #24CCCD;
}

#terminal .text .input-group-addon .arrow{
    color:red;
}
#terminal .text .input-group-addon .branch{
    color:#4F92EF;
}

#terminal .text input {
    background: transparent;
    border:none;
    outline:none;
    color:#f5f5f5;
    font-weight: 200;
}

#terminal .text input:hover, #terminal .text input:focus{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#terminal .tex .input{
    outline:none;
    font-weight: 400;
    width:100%;
    float:left;
    background: transparent;
    border:none;
}

#quickmenu {
    position:absolute;
    background-color: rgba(69, 77, 81,0.5);
    z-index: 100;
    color: #fff;
    top:70px;
    right:20px;
    height:30px;
    width:60px;
    padding:7px 7px 5px 10px;
    cursor: pointer;
}
#pdf {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 25px;
	width: 50%;
   	background-color: #131313;
}
.pyaaz {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	bottom:0;
}
.placeholder h1{
	color: #fff;
}
#login{
	background: #fff;
	position: fixed;
	top:100vh; bottom:0;
	left:0; right:0;
	z-index:1000;

}

a.powered-by-firepad {
display: none;
}

#pdf>iframe{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
}